<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/skel.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/util.js') }}"></script>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <style>
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
    #bg:after {
        background-image: url("{{url_for('static', filename='images/bg.jpeg') }}");
    }
    </style>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style_main.css') }}">
</head>

<body class="">
    <div id="traits">
        <div id="wrapper">
        <header id="header" style="display: flex;">
                <!-- <div class="logo"><span class="icon fa-tree"></span><span class="icon fa-tree"></span><span class="icon fa-tree"></span></div> -->
                <div id='namebox' class="namebox">
                    <h2>{{name}}</h2>
                    <h4>{{job}}</h4>
                    <hr>
                    <h4>{{email}}</h4>
                </div>
                <div id=about_me class="content is-hidden">
                    <div class="inner">
                        <h3>About Me:</h3>
                            <hr>
                            <p> I'm currently a quantitative researcher at Google. I was formerly data scientist at Attune Insurance, and prior to that a senior research analyst at the New York Federal Reserve. My primary interests lie in econometrics, machine-learning, international economics, network theory, and digital-age economics.</p>                         
                            <p> I'm also an avid outdoorsman &ndash; you can often find me hiking, camping, skiing, running mudders, or just taking a nap outside in the sun. I also play volleyball regularly and sing in an a cappella group.</p>
                    </div>
                </div>
                <nav>
                    <ul class="use-middle">
                        <li><a href="#personal">Personal</a></li>
                        <li><a href="#work">Work</a></li>
                        <li><a href="#data">Code &amp; Data</a></li>
                        <li><a href='https://blog.tylerbs.com'>Blog</a></li>
                        <li><a href="#publications">Publications</a></li>
                        <!-- <li class="tooltip"><span class="tooltiptext">Coming Soon!</span> -->
                    </ul>
                </nav>
            </header>
            <ul id="links"class="icons">
                {% for key in bubble_icons %}
                    <li><a {{bubble_icons[key].tag_a() | safe}} target="_blank"><span class="label">{{bubble_icons[key].label}}</span></a></li> 
                {% endfor %}
            </ul>
            <div id="main" style="display: none;">
                <article id="personal" style="display: none;">
                    <h2 class="major">Personal</h2><span class="image main"><img src="{{ banners['personal'] }}" alt=""></span>
                    <center>
                    <section class="quote">
                        "Life consists with Wildness. The most alive is the wildest. Not yet subdued to man, its presence refreshes him." <br>&ndash; Henry David Thoreau
                    </section>
                    <section>
                        <ul class="actions">
                            <li><a href="#intro" class="button icon small fa-commenting-o">Intro</a></li>  
                            <li><a href="#outdoors" class="button icon small fa-tree">Outdoors</a></li>  
                            <li><a href="#music" class="button icon small fa-headphones">Music</a></li>  
                        </ul>
                    </section>
                    </center>
                    <section id="intro">
                        <h3 class="major"><a class="icon fa-commenting-o"></a> Intro</h3>
                        <p>I grew up in Aurora, Colorado. I went to the University of Colorado at Boulder, where I majored in economics and international affairs, with minors in Japanese language and applied math. I graduated summa cum laude in December 2013. I was an intern at Yes Energy my last semester, where I helped provide software and consulting solutions to traders in nodal electricity markets.</p>
                        <p> I got a job as a research analyst at the NY Fed shortly after I graduated. I moved to New York in April 2014, and worked at the Fed for ~3.5 years doing international research, forecasting, and general economic analysis. I then moved on to a data scientist position at Attune Insurance, where I did primarily UX and broker behavior research. I am currently a quantitative UX researcher at Google, where I focus on user behavior research and metrics strategy in Google Ads.
                        <br>
                        <span style="float:right;"><a href="#top" class="icon fa-arrow-up"></a></span>
                        </p>
                    </section>
                    <section id="outdoors">
                        <h3 class="major"><a class="icon fa-tree"></a> Outdoors</h3>
                        <p>I'm an avid outdoorsman: hiking, camping, backpacking, bouldering, etc. I've backpacked portions of the Rocky Mountain Trail, as well as various 2-3 day trips. And of course a hammock and a whisperlite make for a pretty solid overnight. Many of my favorite spots are in Wyoming: if you ever get the chance to check out Vedauwoo, it's a fantastic spot to spend a few days climbing massive galcier-formed boulder formations. I'm also currently planning out a long trip to Yellowstone next year. If you're into hiking or camping, I'm always looking for people to go with, so let me know! (Conditional on me being convinced you won't murder me in my sleep).
                        <p> I've gotten into mudders the past year or so. It's a grat chance to tour the country and I'll be doing my 4th and 5th runs this year. Growing up in Colorado, I'm also a big skier and ice skater, and played hockey in college. 
                        <br>
                        <span style="float:right;"><a href="#top" class="icon fa-arrow-up"></a></span>
                        </p>
                    </section>
                    <section id="music">
                        <h3 class="major"><a class="icon fa-headphones"></a> Music</h3>
                        <p> Raised on classic rock, I've branched out to just about every type of music imaginable (apart from maybe synth scapes). Though my home base is in the lap of folks like Jimi Hendrix and CCR, I float around to everyone from Thelonius Monk, to Between the Buried and Me, Streetlight Manifesto, and Kris Kristofferson. </p>
                        <p>I've also been a performer since I was a wee lad. I'm currently a member of Googapella, Googe's original a cappella gorup. I started my choral career in 3rd grade. That includes going to all-state and singing in a jazz ensemble in high-school. I was also in a barbershop quartet, sang with Bobby McFerrin's old group, and competed in national choral events on tour. I'm also an avid guitarist. My favorite guitarists to play are Mark Knopfler, Alex Lifeson, and Randy Bachmann.</p>
                        <br>
                        <span style="float:right;"><a href="#top" class="icon fa-arrow-up"></a></span>
                        </p>
                    </section>
                    <div class="close">Close</div>
                </article>
                <article id="work" style="display: none;" class="">
                    <h2 class="major">Work</h2><span class="image main"><img src="{{ banners['work'] }}" alt=""></span>
                    <section>
                        <h3 class="major">Google</h3>
                        <p>2019-present: Quantitative Researcher at Google. Working in Google Ads, I focus on user experience. My work involves experiment design and support, data/metrics strategy, and quantitative analysis including econometric/statistical modelling and machine learning. </p><br>
                        <h3 class="major">Attune Insurance</h3>
                        <p>2017-2019: Data scientist for Attune insurance, an small business-oriented insurtech company started as a joint-venture between Two-Sigma and AIG. My work primarily involves broker behavior analysis, potential client identification and trageting, policy bind factor attribution, and experiment design.</p><br>
                        <h3 class="major">Federal Reserve Bank of New York</h3>
                        <p>2014-2017: Senior research analyst at the Federal Reserve Bank of New York. While there, I worked on both academic research and policy analyses/forecasting. </p>
                        <h5 class="major">Policy</h5>
                        <p>I managed the international trade forecast model. I also laid the foundation for using the stress-testing loan-level data for decomposing lending market shifts into supply and demand shocks, including building an ETL and adapting the decomposition model from academic reseach.</p>
                        <h5 class="major">Research</h5>
                        <p>I worked on a variety of papers for publication, the primary one involving an analysis of the Chinese trade following it's ascension to the WTO. We traced back the primary cause of the China trade boom to China lowering it's own import tariffs, thereby making inputs cheaper and increasing overall production, including exports. I have also worked on papers involving international financial flows, markups and competition, and academic outcomes based on proximity to libraries. </p>
                    </section>
                    <div class="close">Close</div>
                </article>
                <article id="data" style="display: none;">
                    <h2 class="major">Code &amp; Data</h2><span class="image main"><img src="{{ banners['code'] }}" alt=""></span>
                    <section>
                        <h3 class="major">Code</h3>
                        <p>For a comprehensive collection of my publically available code, please see my <a href='https://gitlab.com/tybodsm'>Gitlab</a> &ndash; I'm terrible at moving stuff over, but there are some fun doo-dads over there</p>
                        <h4 class="major">Weapons of choice:</h4>
                        <ul class="near">
                            <li>Python</li>
                            <li>SQL</li>
                            <li>Stata</li>
                            <li>Julia</li>
                            <li>Javascript</li>
                            <li>Bash</li>
                        </ul>
                    </section>

                    <section>
                        <h3 class="major">Data</h3>
                    </section>
                    <section>
                    <center>
                        <h4 class="major">International Data Sources</h4>
                        <div class="table-wrapper">
                            <table class="links">
                                {% for key, cat in intl_links.items() %}
                                    <tbody>
                                        <tr>
                                            <td rowspan="{{cat|length + 1}}" class="icon"><a class="icon {{cat[0].icon}}"></a></td>
                                        </tr>

                                        {% for link in cat %}
                                            <tr>
                                                <td ><a href='{{link.href}}'>{{link.label}}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </center>
                    </section>
                    <div class="close">Close</div>
                </article>

                <article id="publications" style="display: none;">
                    <h2 class="major">Publications</h2><span class="image main"><img src="{{ banners['research'] }}" alt=""></span>
                    

                    <section>
                        <center>
                        <h4 class="major">NYFed's Liberty Street Economics</h4>
                        <div class="table-wrapper">
                            <table class="links">
                                <tbody>
                                    <tr>
                                        <td rowspan="{{pub_links|length + 1}}" class="icon"><a class="icon fa-link"></a></td>
                                    </tr>

                                    {% for link in pub_links %}
                                    <tr>
                                        <td ><a href='{{link[1]}}'>{{link[0]}}</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </center>
                    </section>
                    <div class="close">Close</div>
                </article>
            </div>
        </div>
        <div id="bg"></div>
    </div>
    <script type=text/javascript src="{{url_for('static', filename='js/jquery_lib.js') }}"></script>
    <script type=text/javascript>
        $('#kitten-it').on('click', function(event) {
            $('#bg').css('background-image', "url({{url_for('static', filename='images/d2-lookalike_small.jpeg') }})"); 
        });
    </script>
</body>
</html>